body {
  padding-top: 5rem;
  background-color: white;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
  background-color: rgb(108, 199, 204);
}
h1{
  color: white;
}
p{
  color: black;
  font-style: arial;
}
.row {
  color: rgb(108, 199, 204);
}

.btn-outline-success{
  color: black;
  background-color:blue;
}

.search-img {
  height: 20px;
}
