body {
  padding-top: 5rem;
  background-color: white;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
  background-image:"duck.jpg";
}
h1{
  color: white;
}
p{
  color: black;
  font-style: arial;
}
.row {
  color: rgb(108, 199, 204);
}

.btn-outline-success{
  color: black;
  background-color:blue;
}

.search-img {
  height: 20px;
}

.navbar-dark .navbar-nav .nav-link{
  color: white;
}

#imageDiv {
  display: flex;
  justify-content: center;
}

.btn.btn-outline-dark1 {
  margin-left: 54px;
}

.btn.btn-outline-dark2 {
  margin-left: 54px;
}

.btn.btn-outline-dark3 {
  margin-left: 54px;
}

.btn.btn-outline-dark4 {
  margin-left: 54px;
}

.btn.btn-outline-dark5 {
  margin-left: 54px;
}


.carousel-inner img {
  margin: auto;
}
h2{
  color:white;
  background-color:lightblue;
}
